.login {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-foreground);
}
.login__main {
  width: 80%;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background);
  padding: var(--spacing-medium);
}
.login__main__start {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__main__start__wrap {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: var(--spacing-small);
}
.login__main__start__wrap > img {
  object-fit: contain;
  height: 100px;
}
.login__main__start__wrap > h5 {
  font-size: var(--font-size-h5);
  margin-top: var(--spacing-medium);
}
.login__main__start__wrap > h5 {
  font-size: var(--font-size-h5);
  color: var(--color-text-primary);
  font-weight: 500;
  margin-bottom: var(--spacing-medium);
}
.login__main__start__wrap > form {
  width: 100%;
}
.login__main__start__switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-tertiary);
  margin-bottom: var(--spacing-medium);
}
.login__main__start__switch b {
  color: #13c375;
  cursor: pointer;
}
.login__main__end {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: var(--spacing-large);
  border-left: 1px solid var(--color-border);
}
.login__main__end > img {
  width: 75%;
}
.login__main__end__info {
  padding: 0 var(--spacing-medium);
}
.login__main__end__info {
  font-size: var(--font-size-h6);
}
.login__main__end__info__text__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-medium);
  padding: var(--spacing-medium) 0;
}
.login__main__end__info__text__wrap > span {
  font-size: var(--font-size-tertiary);
  background-color: var(--color-border);
  padding: var(--spacing-small) var(--spacing-large);
  width: 30%;
  border-radius: var(--border-radius-small);
}
.error__message {
  font-size: var(--text-secondary-font-size);
  color: red;
  margin-bottom: var(--spacing-small);
}

@media all and (max-width: 768px) {
  .login__main {
    width: 80%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-medium);
  }
  .login__main__start {
    width: 100%;
  }
  .login__main__start__wrap {
    width: 100%;
  }
  .login__main__end {
    width: 100%;
    display: none;
  }
}
