.create__society {
  min-height: 100vh;
  background: var(--color-background);
  color: var(--color-text-primary);
  padding: 15px 15px;
}
.create__society__wrap {
  display: flex;
  justify-content: start;
  gap: var(--spacing-small);
}
.create__society > h1 {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-primary);
  margin-bottom: 20px;
}
.create__society > span {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.create__society > span > button {
  width: max-content;
  min-width: 200px;
  padding: 10px 15px;
  border: 0;
  background: var(--color-primary-tint);
  color: white;
  border-radius: 2.5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create__society > span > button:last-of-type {
  background: var(--color-primary-tint);
  color: white;
  margin-left: 10px;
}
.error__message {
  font-size: var(--text-secondary-font-size);
  color: red;
}
