.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  gap: var(--spacing-medium);
  text-align: center;
}
.payment > img {
  object-fit: contain;
  width: 500px;
}
.payment > p {
  font-size: var(--font-size-secondary);
  line-height: 30px;
  font-weight: 500;
  width: 40%;
}

@media all and (max-width: 768px) {
  .payment > img {
    object-fit: contain;
    width: 100%;
  }
  .payment > p {
    width: 100%;
  }
}
