.admin__dashboard {
  min-height: 100vh;
  background: var(--color-border);
  color: var(--color-text-primary);
}
.admin__dashboard__section__one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 15px;
}
.admin__dashboard__section__one__seg {
  background: var(--color-background);
  border-radius: 5px;
  width: 24%;
  padding: 20px 20px;
}
.admin__dashboard__section__one__seg__icon {
  margin-left: auto;
  font-size: 20px;
  font-size: 30px;
}
.admin__dashboard__section__one__seg__icon.one {
  color: #ffc72c;
}
.admin__dashboard__section__one__seg__icon.two {
  color: #0530ad;
}
.admin__dashboard__section__one__seg__icon.three {
  color: #1db954;
}
.admin__dashboard__section__one__seg__icon.four {
  color: #c8102e;
}
.admin__dashboard__section__one__seg > span {
  margin-bottom: 10px;
  font-size: var(--font-size-secondary);
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
}
.admin__dashboard__section__one__seg > h1 {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-primary);
}
.admin__dashboard__section__two {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 15px;
}
.admin__dashboard__section__two__seg1 {
  background: var(--color-background);
  border-radius: 5px;
  width: 29%;
  height: 20vh;
  padding: 20px 0;
}
.admin__dashboard__section__two__seg1 > h3 {
  font-size: 16x;
  font-weight: 600;
  color: var(--color-text-primary);
  margin-bottom: 5px;
  padding: 0 20px;
}
.admin__dashboard__section__two__seg1 > h4 {
  font-size: var(--font-size-secondary);
  font-weight: 500;
  color: var(--color-text-secondary);
  margin-bottom: 15px;
  padding: 0 20px;
}
.admin__dashboard__section__two__seg1 > p {
  font-size: var(--font-size-primary);
  font-weight: 300;
  color: var(--color-text-secondary);
  padding: 0 20px;
  margin-bottom: var(--spacing-medium);
}
.admin__dashboard__section__two__seg1__notice {
  margin-top: 10px;
  background: var(--color-background);
  padding: 20px 20px;
}
.admin__dashboard__section__two__seg1__notice > h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
}
.admin__dashboard__section__two__seg1__notice > div {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
}
.admin__dashboard__section__two__seg1__notice > div > p {
  font-size: var(--font-size-secondary);
  font-weight: 500;
  margin-left: 15px;
  color: var(--color-text-secondary);
}
.admin__dashboard__section__two__seg1__notice > div > div {
  /* width: 25px; */
}
.admin__dashboard__section__two__seg1__notice > div > div > h3 {
  border: 1px solid var(--color-text-primary);
  font-size: var(--font-size-secondary);
  font-weight: 500;
  padding: 1.5px;
}
.admin__dashboard__section__two__seg1__notice > div > div > h4 {
  border: 1px solid var(--color-text-primary);
  font-size: var(--font-size-secondary);
  font-weight: 500;
  padding: 1.5px;
}
.admin__dashboard__section__two__seg2 {
  background: var(--color-background);
  border-radius: 5px;
  width: 34%;
  height: auto;
}
.admin__dashboard__section__two__seg3 {
  background: var(--color-background);
  border-radius: 5px;
  width: 34%;
  /* height: 30vh;
   */
  height: auto;
}
.admin__dashboard__section__three {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 15px 15px;
}
.admin__dashboard__section__three__seg1 {
  width: 34%;
  background: var(--color-background);
}
.admin__dashboard__section__three__seg2 {
  background: var(--color-background);
  width: 64%;
  padding: 20px 20px;
}
.admin__dashboard__section__three__seg2 > h1 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
.admin__dashboard__section__three__seg2__header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  background: var(--color-primary-tint);
  color: white;
}
.admin__dashboard__section__three__seg2__header__id {
  width: 15%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
}
.admin__dashboard__section__three__seg2__header__title {
  width: 25%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
}
.admin__dashboard__section__three__seg2__header__views {
  width: 15%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
}
.admin__dashboard__section__three__seg2__header__propertytype {
  width: 15%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
}

.admin__dashboard__section__three__seg2__header__userid {
  width: 20%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
}
.admin__dashboard__section__three__seg2__header__ranking {
  width: 10%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
}
.admin__dashboard__section__three__seg2__entry {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  border-bottom: 1px solid var(--color-border);
}
.admin__dashboard__section__three__seg2__entry:hover {
  background: var(--color-border);
}
.admin__dashboard__section__three__seg2__entry__id {
  width: 15%;
  font-size: var(--font-size-secondary);
  color: var(--color-text-secondary);
  font-weight: 500;
}
.admin__dashboard__section__three__seg2__entry__title {
  width: 25%;
  font-size: var(--font-size-secondary);
  color: var(--color-text-secondary);
  font-weight: 500;
}
.admin__dashboard__section__three__seg2__entry__views {
  width: 15%;
  font-size: var(--font-size-secondary);
  color: var(--color-text-secondary);
  font-weight: 500;
}
.admin__dashboard__section__three__seg2__entry__propertytype {
  width: 15%;
  font-size: var(--font-size-secondary);
  color: var(--color-text-secondary);
  font-weight: 500;
}

.admin__dashboard__section__three__seg2__entry__userid {
  width: 20%;
  font-size: var(--font-size-secondary);
  color: var(--color-text-secondary);
  font-weight: 500;
}
.admin__dashboard__section__three__seg2__entry__ranking {
  width: 10%;
  font-size: var(--font-size-secondary);
  color: var(--color-text-secondary);
  font-weight: 500;
}

@media all and (max-width: 768px) {
  .admin__dashboard__section__one {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0 10px;
    padding-top: 10px;
    width: 100%;
  }
  .admin__dashboard__section__one__seg {
    margin-bottom: 10px;
    width: 100%;
  }
  .admin__dashboard__section__two {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0 10px;
  }
  .admin__dashboard__section__two__seg1 {
    width: 100%;
    margin-bottom: 10px;
    height: auto;
  }
  .admin__dashboard__section__two__seg2 {
    width: 100%;
    margin-bottom: 10px;
  }
  .admin__dashboard__section__two__seg3 {
    width: 100%;
  }
  .admin__dashboard__section__three {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 15px 10px;
  }
  .admin__dashboard__section__three__seg1 {
    width: 100%;
  }
  .admin__dashboard__section__three__seg2 {
    width: 100%;
    margin-top: 10px;
  }
  .admin__dashboard__section__three__seg2 {
    padding: 15px 15px;
    padding-bottom: 30px;
    width: 100%;
    overflow-x: scroll;
  }
  .admin__dashboard__section__three__seg2__header {
    width: 400%;
  }
  .admin__dashboard__section__three__seg2__entry {
    width: 400%;
  }
}
