.single__user {
  min-height: 100vh;
  background: var(--color-border);
  color: var(--color-text-primary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px 20px;
}
.single__user__section1 {
  width: 59%;
  background: var(--color-background);
  padding: 20px 20px;
}
.single__user__section1 > button {
  width: max-content;
  padding: 15px 15px;
  border: 0;
  background: var(--color-primary-tint);
  color: white;
  border-radius: 2.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.single__user__section1 > h1 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--color-text-primary);
}
.single__user__section1 > span {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.single__user__section1 > span > h2 {
  font-size: var(--font-size-secondary);
  font-weight: 500;
  color: var(--color-text-secondary);
  opacity: 0.9;
  width: 25%;
}
.single__user__section1 > span > h3 {
  font-size: var(--font-size-secondary);
  font-weight: 500;
  color: var(--color-text-secondary);
  width: 75%;
}
.single__user__section2 {
  width: 39%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.single__user__section2__card {
  display: flex;
  align-items: center;
  background: var(--color-background);
  padding: 15px 20px;
  width: 45%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.single__user__section2__card__icon {
  margin-right: 10px;
  font-size: 20px;
  color: var(--color-text-primary);
}
.single__user__section2__card > div > h3 {
  font-size: var(--font-size-secondary);
  font-weight: 500;
  color: var(--color-text-secondary);
  margin-bottom: 5px;
}
.single__user__section2__card > div > h1 {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-primary);
}

@media all and (max-width: 768px) {
  .single__user {
    padding: 20px 0;
  }
  .single__user {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
  }
  .single__user__section1 {
    width: 100%;
  }
  .single__user__section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .single__user__section2__card {
    width: 100%;
  }
  .single__user__section1 > span {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .single__user__section1 > span > h2 {
    opacity: 0.8;
    margin-bottom: 15px;
    width: 100%;
  }
  .single__user__section1 > span > h3 {
    width: 100%;
  }
}
