.create__user {
  min-height: 100vh;
  background: var(--color-background);
  color: var(--color-text-primary);
  padding: 15px 15px;
}
.create__user > h1 {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-primary);
  margin-bottom: 20px;
}
.create__user > span {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.create__user > span > button {
  width: max-content;
  padding: 10px 15px;
  border: 0;
  background: var(--color-primary-tint);
  color: white;
  border-radius: 2.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.create__user > span > button:last-of-type {
  background: var(--color-primary-tint);
  color: white;
  margin-left: 10px;
}
