.dashboard__header {
  height: 7.5vh;
  background: var(--color-background);
  color: var(--color-text-primary);
  padding: 20px 15px;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
}
.dashboard__header__path > h3 {
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
  font-size: var(--font-size-h5);
  font-weight: 600;
}
.dashboard__header__toggle {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dashboard__header__toggle > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-secondary);
  font-weight: 500;
  margin-left: 15px;
}
.dashboard__header__icon {
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  #dashboard__logout {
    display: none;
  }
}
