.edit__user {
  min-height: 100vh;
  background: var(--color-border);
  color: var(--color-text-primary);
  padding: 15px 15px;
}
.edit__user > h1 {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-text-primary);
  margin-bottom: 20px;
}
.edit__user > span {
  display: flex;
  align-items: center;
}
.edit__user > span > button {
  width: max-content;
  padding: 10px 15px;
  border: 0;
  background: var(--color-primary-tint);
  color: white;
  border-radius: 2.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.edit__user > span > button:last-of-type {
  background: var(--color-background);
  color: var(--color-text-primary);
  margin-left: 10px;
}
.edit__user__section1 {
  background: var(--color-background);
  padding: 15px 15px;
  margin-bottom: 20px;
}
.edit__user__section1 > h3 {
  font-size: 14px;
  font-weight: 600;
  color: var(--tertiary-text-color);
  margin-bottom: 20px;
}
.edit__user__section1 > article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
.edit__user__article__div {
  width: 24%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
.edit__user__article__div > label {
  font-size: var(--font-size-secondary);
  font-weight: 500;
  color: var(--tertiary-text-color);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.edit__user__article__div__icon {
  margin-left: 10px;
  color: red;
  font-size: 5px;
}
.edit__user__article__div input {
  font-size: var(--font-size-secondary);
  font-weight: 500;
  color: var(--tertiary-text-color);
  margin-bottom: 10px;
  padding: 10px 15px;
  border: 1px solid var(--color-border);
  background: var(--color-border);
}
.edit__user__article__div > select {
  font-size: var(--font-size-secondary);
  font-weight: 500;
  color: var(--tertiary-text-color);
  margin-bottom: 10px;
  padding: 10px 15px;
  border: 1px solid var(--color-border);
  background: var(--color-border);
}
.image__upload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px dashed #1475cf;
  min-height: 100px;
  cursor: pointer;
  border-radius: 5px;
  gap: 10px;
  padding: 5px 5px;
}
.image__upload__label {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 11px;
  color: var(--tertiary-text-color);
  background: #e9f0ff;
  padding: 5px;
}
.image__upload__label > span {
  margin-left: auto;
}

@media all and (max-width: 768px) {
  .edit__user {
    padding: 15px 0;
  }
  .edit__user__article__div {
    width: 100%;
  }
  .image__upload {
    width: 100%;
  }
}
