.not__found {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not__found > h1 {
  font-size: var(--font-size-h4);
  margin-bottom: var(--spacing-medium);
}
.not__found > p {
  font-size: var(--font-size-primary);
  color: var(--tertiary-text-color);
  line-height: var(--line-height-secondary);
  margin-bottom: var(--spacing-medium);
  text-align: center;
}
.not__found > button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--color-foreground);
  color: white;
  border: 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.not__found > img {
  object-fit: contain;
  width: 150px;
}

@media all and (max-width: 768px) {
  .not__found > h1 {
    margin-bottom: 10px;
  }
  .not__found > p {
    margin-bottom: 10px;
  }

  .not__found > img {
    object-fit: contain;
    width: 200px;
  }
}
