.si__st__app {
  min-height: 100vh;
  background: var(--color-border);
  color: var(--color-text-primary);
  padding: 40px 40px;
}
.si__st__app__cta {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
}
.si__st__app__cta > button {
  padding: 10px 15px;
  border: 0;
  background: var(--color-primary-tint);
  color: white;
  border-radius: 2.5px;
  cursor: pointer;
}
.si__st__app__cta > button:last-of-type {
  background: var(--color-border);
  color: red;
}

.admin__single__notice {
  min-height: 100vh;
  background: var(--color-border);
  color: var(--color-text-primary);
  padding: 40px 40px;
}
.admin__single__notice__section__one {
  background: var(--color-background);
}
.admin__single__notice__section__one__article1 {
  border-bottom: 1px solid var(--color-border);
  padding: 20px 20px;
}
.admin__single__notice__section__one__article1 > h1 {
  font-size: 17px;
  font-weight: 600;
  color: var(--color-text-primary);
  margin: 10px 0;
}
.admin__single__notice__section__one__article2 {
  width: 100%;
  padding: 20px 20px;
}
.admin__single__notice__section__one__article2 > span {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-border);
}
.admin__single__notice__section__one__article2 > span > h1 {
  width: 35%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
  color: var(--color-text-secondary);
  opacity: 0.75;
}
.admin__single__notice__section__one__article2 > span > h3 {
  width: 65%;
  font-size: var(--font-size-secondary);
  font-weight: 500;
  color: var(--color-text-secondary);
  line-height: 25px;
  overflow-wrap: break-word;
}
.admin__single__notice__section__one__article2 > span > h3 > span {
  margin: 10px 10px;
  display: flex;
  align-items: center;
}
.admin__single__notice__section__one__article3 {
  width: 100%;
  padding: 20px 20px;
}
.admin__single__notice__section__one__article3 > button {
  width: max-content;
  padding: 10px 15px;
  border: 0;
  background: var(--color-primary-tint);
  color: white;
  border-radius: 2.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.admin__single__notice__section__one__article3 > button.hide {
  display: none;
}

@media all and (max-width: 768px) {
  .si__st__app {
    padding: 2.5% 2.5%;
  }

  .admin__single__notice {
    padding: 40px 0;
  }
  .admin__single__notice__section__one__article1 > h1 {
    font-size: var(--font-size-secondary);
  }
  .admin__single__notice__section__one__article2 > span {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .admin__single__notice__section__one__article2 > span > h1 {
    width: 100%;
  }
  .admin__single__notice__section__one__article2 > span > h3 {
    width: 100%;
  }
}
